code/*.iml
code/.gradle
code/local.properties
code/.idea/libraries
code/.idea/modules.xml
code/.idea/workspace.xml
code/.DS_Store
code/build
code/captures
code/.externalNativeBuild
code/.idea/caches/build_file_checksums.ser